.chatPageContainer {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-bg);
  overflow-x: hidden;
  overflow-y: hidden;
  color: var(--text-primary);
}

.mainContent {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: relative;
  background: radial-gradient(
    circle at center,
    var(--primary-bg) 0%,
    var(--secondary-bg) 100%
  );
}

.shifted {
  margin-left: 300px;
  width: calc(100% - 300px);
}

.chatArea {
  width: 100%;
  height: 100%;
  color: var(--text-primary);
  flex-grow: 1;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
