.chatPageContainer {
  width: 100%;
  height: 100vh;
  background-color: #f3e9d2; 
  overflow-x: hidden;
  overflow-y: hidden;
}

.mainContent {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.shifted {
  margin-left: 300px;
  width: calc(100% - 300px);
}

.chatArea {
  width: 100%;
  height: 100%;
  color: #333;
  flex-grow: 1;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}